---
---
@import "./tools/jeet/scss/jeet/index.scss"
@import "./tools/bourbon/app/assets/stylesheets/_bourbon.scss"
@import "./tools/fontawesome/scss/font-awesome.scss"
@import "variables"
@import "type"

body
  color: white
  background: $primary

svg
  width: 50px
  fill: white
