
<section class="about">
  <div class="row">
    <div class="col col--4-of-12"><a href="https://www.instagram.com/brycestradling/"><img src="/img/b_photos.jpg" alt="My beautiful face" class="headshot"/></a></div>
    <div class="col col--8-of-12">
      <p class="contact-info">
        <p><strong><a href="tel:+14024154753">402-415-4753</a></strong></p>
        <p><strong><a href="mailto:hello@brycestradling.com">hello@brycestradling.com</a></strong></p>
      </p>
      <ul class="socials">
        <li><a href="https://www.behance.net/BryceStradling"><i class="fa fa-behance"></i></a></li>
        <li><a href="https://github.com/Cutcopy"><i class="fa fa-github"></i></a></li>
        <li><a href="http://codepen.io/Cutcopy/"><i class="fa fa-codepen">  </i></a></li>
        <li><a href="https://twitter.com/losslessdesign"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/in/bryce-stradling-9808b675"><i class="fa fa-linkedin"></i></a></li>
      </ul>
      <p class="bio">Hi, I'm Bryce. I'm a graphic designer, front-end developer, illustrator, photographer and maker of other pretty things—one of those people who aren’t happy unless they’re learning something new and using what they know to make extraordinary things.</p>
      <p class="bio">I believe design, coding, and engineering are all creative endeavors we must engage to solve the thorniest problems. While my contemporaries may talk of the need to narrowly specialize in a profession, they are misguided. A narrow skill-set might make them more categorizable, and perhaps easier to place in a job (for now). But the landscape re-shapes itself constantly. All skill and experience must be drawn on to find elegant and creative solutions—and the wider the knowledge terrain, the better the solution.</p>
      <p class="bio">For example, my experience as a musician made video editing easier, allowing me to draw on my skills in timing, arrangement, and experimentation. The Animations I made in After Effects influenced my work designing user interfaces. See for yourself on this site. Feel free to shoot me an <a href="mailto:hello@brycstradling.com">email</a> if you'd like to work together or find something that inspires you. </p>
      <p><a href="img/Bryce_Stradling _RESUME.pdf" class="button">Download My Resume</a></p>
    </div>
  </div>
</section>
