
<section class="design">
  <div class="row">
    <div class="col col-12-of-12">
      <h2>Web Design <a href="https://github.com/Cutcopy"><i class="fa fa-github"></i></a>&nbsp;<a href="https://www.behance.net/BryceStradling"><i class="fa fa-behance"></i></a></h2>
    </div>
  </div>
  <hr/>
  <div class="wrapper">
    <div class="gallery">
      <div id="design" data-ride="carousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="design" data-slide-to="0" class="active"></li>
          <li data-target="design" data-slide-to="1"></li>
          <li data-target="design" data-slide-to="2"></li>
        </ol>
        <div role="listbox" class="carousel-inner">
          <div class="item active"><a href="/care.html"><img src="/img/CARE_b_thumb.png" alt=""/></a>
            <div class="carousel-caption">
              <p>Career Academy of Real Estate </p>
            </div>
          </div>
          <div class="item"><a href="/andrews.html"> <img src="img/Andrews_b_thumb.png" alt=""/></a>
            <div class="carousel-caption">
              <p>Andrews Realty Group</p>
            </div>
          </div>
         <div class="item"><a href="/vyral.html"><img src="/img/vyral_b_thumb.png" alt=""/></a>
            <div class="carousel-caption">
              <p>Vyral Marketing</p>
            </div>
          </div>
        </div><a href="#design" role="button" data-slide="prev" class="left carousel-control"> <i class="fa fa-arrow-left"></i><span class="sr-only">Prev             </span></a><a href="#design" role="button" data-slide="next" class="right carousel-control"> <i class="fa fa-arrow-right"></i><span class="sr-only">Next</span></a>
      </div>
    </div>
  </div>
</section>
