
<footer>
  <div class="row">
    <div class="col col--12-of-12"><span>&copy; 2016 Bryce Stradling</span>&nbsp;
      <div class="top"><a href="#top"> <i class="fa fa-arrow-up"></i><strong>Top</strong></a></div>
      <p class="contact-info"><strong><a href="tel:+14024154753">402-415-4753</a></strong><span>•</span><strong><a href="mailto:hello@brycestradling.com">hello@brycestradling.com</a></strong></p>
      <ul class="socials">
        <li><a href="https://www.behance.net/BryceStradling"><i class="fa fa-behance"></i></a></li>
        <li><a href="https://github.com/Cutcopy"><i class="fa fa-github"></i></a></li>
        <li><a href="http://codepen.io/Cutcopy/"><i class="fa fa-codepen">  </i></a></li>
        <li><a href="https://twitter.com/losslessdesign"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/in/bryce-stradling-9808b675"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="js/main.js" attr="attr"></script>
</footer>
