
<section class="video">
  <div class="row">
    <div class="col col-12-of-12">
      <h2>Video <a href="https://vimeo.com/user2975416"><i class="fa fa-vimeo"></i></a></h2>
    </div>
  </div>
  <hr/>
  <div class="wrapper">
    <div class="gallery"></div>
    <div id="video" data-ride="carousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="video" data-slide-to="0" class="active"></li>
        <li data-target="video" data-slide-to="1"></li>
        <li data-target="video" data-slide-to="2"></li>
      </ol>
      <div role="listbox" class="carousel-inner">
        <div class="item active"><a href="https://vimeo.com/38209422"><img src="/img/dreamcove_b_thumb.png" alt=""/></a>
          <div class="carousel-caption">
            <p>DreamCove</p>
          </div>
        </div>
        <div class="item"><a href="https://vimeo.com/68871416"><img src="/img/olea_b_thumb.png" alt=""/></a>
          <div class="carousel-caption">
            <p>Daydream on Olea</p>
          </div>
        </div>
        <div class="item"><a href="https://vimeo.com/8847152"><img src="/img/Thrillz_b_thumb.png" alt=""/></a>
          <div class="carousel-caption">
            <p>Thrillz Drink</p>
          </div>
        </div><a href="#video" role="button" data-slide="prev" class="left carousel-control"> <i class="fa fa-arrow-left"></i><span class="sr-only">Prev             </span></a><a href="#video" role="button" data-slide="next" class="right carousel-control"> <i class="fa fa-arrow-right"></i><span class="sr-only">Next</span></a>
      </div>
    </div>
  </div>
</section>