---
layout: post
---
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bryce Stradling - {{ page.title }}</title>
    <meta name="description" content="Designer, Illustator and maker of other pretty things">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../../../css/main.css">
  </head>

  <body>
    {% include header.html %}
    <main itemscope='Article' itemtype='http://schema.org/Article'>
      <section class="post row">
        <header class="post-header">
          <h1 class="post-title" itemprop="headline">{{ page.title }}</h1>
          <p class="post-meta" itemprop="author">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
        </header>
        <article class="post-content" itemprop="articlebody">
          {{ content }}
        </article>
      </section>
    </main>
    {% include footer.html %}
  </body>

</html>
